<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard del Profesor - NotaCore</title>
</head>
<body>
    <h1>Panel del profesor</h1>
    <p>Estas son tus aulas, planes y estudiantes asignados.</p>
    <p><a href="{% url 'usuarios:logout' %}">Cerrar sesión</a></p>


    <h2>Gestión</h2>
    <ul>
        <li><a href="{% url 'evaluaciones:profesor_aulas' %}">Ver aulas</a></li>
        <li><a href="{% url 'evaluaciones:profesor_estudiantes' %}">Ver estudiantes</a></li>
        <li><a href="{% url 'evaluaciones:profesor_planes' %}">Ver planes</a></li>
    </ul>

</body>
</html>

